{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;margin-top:10px;">デモユーザー登録</h1>
{{ form.errors }}
<form method="post">{% csrf_token %}
    <table>
        <tr>
            <ul id="main-s1"><td>{{ form.phone.label }}</td></ul>
            <ul id="main-s2"><td>{{ form.phone }}</td></ul>
        </tr>
        <tr>
            <ul id="main-s1"><td>{{ form.password.label }}</td></ul>
            <ul id="main-s2"><td>{{ form.password }}</td></ul>
        </tr>
        <tr>
            <ul id="main-s1"><td>{{ form.name_sei.label }}</td></ul>
            <ul id="main-s2"><td>{{ form.name_sei }}</td></ul>
        </tr>
        <tr>
            <ul id="main-s1"><td>{{ form.name_namae.label }}</td></ul>
            <ul id="main-s2"><td>{{ form.name_namae }}</td></ul>
        </tr>
        <tr>
            <td><input type="submit" value="登録"></td>
        </tr>
    </table>
    
    <table style="margin-top:20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ form.phone.label }}</th>
                <th>{{ form.password.label }}</th>
                <th>{{ form.name_sei.label }}</th>
                <th>{{ form.name_namae.label }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name_sei }}</td>
                <td>{{ user.name_namae }}</td>
                <td><button type="button" onclick="delUser({{ user.pk }});">削除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    function delUser(id) {
        $.get('{% url 'del_demo_user' %}', {id: id}, function() {
            location.reload();
        });
    }
</script>
{% endblock %}
